[images]

[logging]
# context=DEBUG
# context.macros=DEBUG
# context.stack=DEBUG
# imager=DEBUG
# parse=DEBUG
# parse.commands=DEBUG
# parse.definitions=DEBUG
# parse.digest=DEBUG
# parse.environments=DEBUG
# parse.mathshift=DEBUG
# parse.persistent=DEBUG
# parse.sections=DEBUG
# parse.tokens=DEBUG
# render=DEBUG
# render.images=DEBUG
# render.images.depth=DEBUG
# simpleTAL=DEBUG
# simpleTALES=DEBUG
# status=DEBUG
# tex=DEBUG
# tex.kpsewhich=DEBUG
